In [1]:
# Re-run this cell
import pandas as pd

In [3]:
# Read in the data
schools = pd.read_csv("/content/drive/MyDrive/NYC Public school test result score/schools.csv")

In [4]:
# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [7]:
#Â Which schools are best for math?
BestMathSchools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)
print(BestMathSchools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [8]:
# Calculate total_SAT per school
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
print(schools)

                                           school_name    borough  \
0    New Explorations into Science, Technology and ...  Manhattan
1                                 Essex Street Academy  Manhattan
2                         Lower Manhattan Arts Academy  Manhattan
3      High School for Dual Language and Asian Studies  Manhattan
4        Henry Street School for International Studies  Manhattan
..                                                 ...        ...
370  Queens High School for Information, Research, ...     Queens
371  Rockaway Park High School for Environmental Su...     Queens
372                   Channel View School for Research     Queens
373                    Rockaway Collegiate High School     Queens
374                                  Scholars' Academy     Queens

    building_code  average_math  average_reading  average_writing  \
0            M022           657              601              601
1            M445           395              411              387
2            M445           418              428              415
3            M445           613              453              463
4            M056           410              406              381
..            ...           ...              ...              ...
370          Q465           372              362              352
371          Q410           357              381              376
372          Q410           427              430              423
373          Q410           399              403              405
374          Q180           588              560              568

     percent_tested  total_SAT
0               NaN       1859
1              78.9       1193
2              65.1       1261
3              95.9       1529
4              59.7       1197
..              ...        ...
370            44.6       1086
371            38.5       1114
372            76.6       1280
373            46.5       1207
374            99.2       1716

[375 rows x 8 columns]

In [11]:
# Who are the top 10 performing schools?
top10schools = schools.sort_values("total_SAT", ascending=True)[["school_name", "total_SAT"]].head(10)
print(top10schools)

                                           school_name  total_SAT
182   Pan American International High School at Monroe        924
247                          Multicultural High School        926
295      International High School at Prospect Heights        946
337             Pan American International High School        978
171              Kingsbridge International High School        987
109                International Community High School        995
114                    Bronx International High School       1005
34             Manhattan Academy for Arts and Language       1005
242  W. H. Maxwell Career and Technical Education H...       1009
179             High School of Language and Innovation       1016

In [13]:
# Which NYC borough has the highest standard deviation for total_SAT?
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)
print(boroughs)

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30

In [14]:
# Filter for max std and make borough a column
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]
print(largest_std_dev)

           count     mean     std
borough
Manhattan     89  1340.13  230.29

In [18]:
# Rename the columns for clarity
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29

In [19]:
# Optional: Move borough from index to column
mm=largest_std_dev.reset_index(inplace=True)
print(mm)

None